version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: django-k8:v1
    container_name: django_web
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "
      sh migrate.sh &&
      ./entrypoint.sh
      "
#    volumes:
#      - staticfiles:/app/staticfiles/
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "--spider", "http://localhost:8000/health/" ]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  postgres_data:
#  staticfiles: