version: '3.9'

services:
  web:
    depends_on:
      - db
    build:
      context: .
      dockerfile: Dockerfile
    image: django-k8:v1
    environment:
      - PORT=8000
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: >
      sh -c "chmod +x /app/migrate.sh &&
             sh /app/migrate.sh &&
             /app/entrypoint.sh"
    volumes:
      - staticfiles:/app/staticfiles/

  db:
    image: postgres:16
    env_file:
      - .env
    expose:
      - 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  staticfiles:
    external: true
  postgres_data:

